main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    gap: 2rem;
}

main form{
    display:flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
}

.range-input-container{
    display: flex;
    gap: 1rem;
}

.generated-password-container{
    display:flex;
    gap: 1rem;
}

.generated-password-container img{
    width: 5rem;
}